<div class="row-fluid">
    <div id="container" class="content_area col-md-12 col-sm-12 fill">
        <h3 class="shipping_list_header">Lista zakupów</h3> 
        
        <div class="col-md-6 col-sm-6 padding-top shopping_list">
            <ul>
                <li ng-repeat="item in items">
                    <span class="col-md-12">
                        <button ng-click="toggleItem(item)" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button ng-click="removeItem(item)" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>    
                        <label id="item_label_{{item.id}}">{{item.desc}}</label>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6">
                <span class="col-md-7 col-sm-7">
                  <textarea class="form-control resize_vertical" id="shopping_list_add" rows="1"/>
                </span>
                <span  class="col-md-4 col-sm-4">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus icon-left"></span>Dodaj element
                    </button>
                </span>
        </div>
        
        <div class="row-fluid btn_down_wrapper_center col-md-12 col-sm-12" style="position: absolute;">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove icon-left"></span>Wyczyść listę</button>
        </div>
    </div>
</div>

