<div ng-init="init()" class="row-fluid column">
    <div class="col-md-3 column left">
        <nav id="container" class="nav-sidebar">
            <ul class="nav">                  
                <li ng-repeat="category in categories"
                    ng-click="getRecieptsByCategory(category.Id)">
                    <a href="javascript:;">{{category.Name}}</a>
                </li>
                <li class="nav-divider"></li>
                <li><a href="#/favourites"><i class="glyphicon glyphicon-star-empty icon-left"></i>Ulubione</a></li>
            </ul>                 
        </nav>    
    </div>
    <div class="col-md-9 column clearfix">
        <div id="container" class="receipt_items_list content_area fill">
            <span ng-repeat="recipe in favourites" class="col-sm-12 col-md-6 col-lg-4">
                <div class="thumbnail reciept_list_element" ng-controller="homeController" ng-click="showReciept(recipe.Id)">
                     <div style="float: right;">        
                        <button ng-click="removeFromFavourites(recipe.Id)" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove icon-left" style="padding: 0;"></span>
                        </button>
                    </div>
                    <img src="{{recipe.ImageUrl}}"/>
                    <div class="caption">
                        <h4>{{recipe.Title}}</h4>
                        <p class="reciept_short_desc">{{recipe.Description}}</p>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>

