<div ng-init="init()" class="row-fluid column">
    <div class="col-md-3 column left">
        <nav id="container" class="nav-sidebar">
            <ul class="nav">                  
                <li ng-click="getRecieptsByCategory(category.Id)" ng-repeat="category in categories">
                    <a href="javascript:;">{{category.Name}}</a>
                </li>
                <li class="nav-divider"></li>
                <li><a href=""><i class="glyphicon glyphicon-star-empty icon-left"></i>Ulubione</a></li>
            </ul>                 
        </nav>    
    </div>
    <div class="col-md-9 column clearfix">
        <div id="container" class="receipt_items_list content_area fill">
            <span ng-repeat="reciept in reciepts" class="col-sm-12 col-md-6 col-lg-4">
                <div class="thumbnail reciept_list_element" ng-click="showReciept(reciept.id)">
                    <img src="{{reciept.ImageUrl}}" alt=""/>
                    <div class="caption">
                        <h4>{{reciept.Title}}</h4>
<!--                        <p class="reciept_short_desc">{{reciept.Description}}</p>-->
                    </div>
                </div>
            </span>
            <div class="btn_down_wrapper_center col-md-12">
                <button ng-click="addNewReciept()" class="btn btn-default"><span class="glyphicon glyphicon-plus icon-left"></span>Dodaj nowy przepis</button>
            </div>
        </div>
    </div>
</div>

