<div class="row-fluid">
    <div id="container" class="content_area fill">
        <ul class="nav reciept_item_nav">
            <li>      
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-user icon-left"></span>Podziel się ze znajomymi
                </button>
            </li>
            <li>      
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-barcode icon-left"></span>Dodaj do listy zakupów
                </button>
            </li> 
            <li ng-controller="favouritesController">      
                <button ng-click="addToFavourites(recipe.Id)" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-star-empty icon-left"></span>Dodaj do ulubionych
                </button>
            </li>
            <li>      
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove icon-left"></span>Usuń przepis
                </button>
            </li>
        </ul>
        <div class="reciept_container">
            <div class="reciept_content">
                <img ng-src="{{recipe.ImageUrl}}"/>
                <h3>{{recipe.Title}} - Składniki</h3>
                <p>{{recipe.Description}}</p>
            </div>
            <div class=bottom-content>
                    <button type="button" class="btn btn-default right" ng-click="showRecipeSteps(recipe.Id)">
                        Kroki przygotowania<span class="glyphicon glyphicon-chevron-right icon-right"></span>
                    </button>
                    </from>
                </div>
            </div>
        </div>
    </div>
</div>

