<div class="row-fulid" ng-init="newReciept()">
    <div id="container" class="content_area column fill">
        <div class="col-sm-12 col-md-6 column">
            <div class="col-md-12">
                <label for="reciept_title"><span class="required">*</span>Nazwa przepisu:</label>
                  <input class="form-control" id="reciept_title" type="text" name="reciept[title]"/>
            </div>
            <div class="col-md-12">
                  <label for="reciept_category"><span class="required">*</span>Kategoria:</label>
                  <select ng-options="category.Name for category in categories track by category.Id" 
                          ng-model="new_category" class="form-control" id="reciept_category" name="reciept[category]"/>

            </div>
            <div class="col-md-12">
                  <label for="desc">Opis:</label>
                  <textarea class="form-control reciept_desc_input" id="desc" rows="10" name="reciept[desc]"></textarea>
            </div>

            <div class="col-md-12">
                  <label for="reciept_image">Zdjęcie:</label>
                  <button id="reciept_image" name="reciept[image]">Dodaj zdjęcie</button>
            </div>
        </div>
        <div class="bottom-content col-md-12">
                <button type="button" class="btn btn-default right" 
                        ng-click="newRecipeIngredients(reciept.Id)">
                    Dodaj składniki<span class="glyphicon glyphicon-chevron-right icon-right"></span>
                </button>
                <button class="btn btn-default right">
                    <span class="glyphicon glyphicon-floppy-disk icon-left"></span>Zapisz przepis
                </button>
        </div>
    </div>
</div>

