<div class="row-fulid">
    <div id="container" class="content_area fill">
        <label for="reciept_steps"><span class="required">*</span>Kroki:</label>
        <div class="cold-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="col-lg-8 col-md-8 column col-sm-11 col-xs-11">
                <textarea class="form-control" id="reciept_steps" rows="2" name="reciept[reciept_steps]"/>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <button type="button" class="btn btn-default  add-button">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div class="bottom-content col-md-12">
            <button type="button" class="btn btn-default left" 
                    ng-click="newRecipeIngredients(reciept.Id)">
                <span class="glyphicon glyphicon-chevron-left icon-left"></span>Dodaj składniki
            </button>
            <button class="btn btn-default right">
                <span class="glyphicon glyphicon-floppy-disk icon-left"></span>Zapisz przepis
            </button>
        </div>
    </div>
</div>
