<div class="row-fluid">
    <div id="container" class="content_area fill">
        <div class="reciept_container">
            <div class="reciept_content">
                <h3>{{recipe.Title}} - Kroki przygotowania</h3> 
            </div>
            <div class="bottom-section">
                <div class="bottom-aligner"></div>
                <div class=bottom-content>
                    <button ng-click="showRecipe()" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left icon-left"></span>Składniki
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

