<div class="row-fluid">
    <div class="nav-sidebar col-md-5 column">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <label class="padding-top" for="search_field">Wpisz nazwę lub wybierz składniki:</label>
            <span class="col-lg-10 col-md-10 col-sm-10">
                <textarea class="form-control resize_vertical" id="search_field" rows="2"></textarea>
            </span>
            <span class="col-lg-2 col-md-2 col-sm-2">
                <button type="button" class="btn btn-default btn-search">
                <span class="glyphicon glyphicon-search icon-left"></span>Szukaj</button>
            </span>
        </div>
        <span class="search_list_ingredient">
            <p>
                <button ng-click="appendSearchIngredient(ingredient)" 
                        ng-repeat="ingredient in ingredients" 
                        class="btn btn-ingredient">{{ingredient.Name}}
                </button>
            </p>
        </span>
    </div>
<div class="col-md-7 column">
        <div id="container" class="content_area fill">
            <div class="thumbnail reciept_list_element" ng-click="showReciept(reciept.id)">
                    <img src="http://gfx.dlastudenta.pl/photos/dlastudentki/czosnek_potrawy320.jpg" alt="">
                    <div class="caption">
                        <h4 class="ng-binding">Reciept 2</h4>
                        <p class="reciept_short_desc ng-binding">Lorem ipsum tekst tekst tekst.</p>
                    </div>
            </div>
            <div class="thumbnail reciept_list_element" ng-click="showReciept(reciept.Id)">
                    <img src="http://gfx.dlastudenta.pl/photos/dlastudentki/czosnek_potrawy320.jpg" alt="">
                    <div class="caption">
                        <h4 class="ng-binding">Reciept 2</h4>
                        <p class="reciept_short_desc ng-binding">Lorem ipsum tekst tekst tekst.</p>
                    </div>
            </div>
            <div class="thumbnail reciept_list_element" ng-click="showReciept(reciept.id)">
                    <img src="http://gfx.dlastudenta.pl/photos/dlastudentki/czosnek_potrawy320.jpg" alt="">
                    <div class="caption">
                        <h4 class="ng-binding">Reciept 2</h4>
                        <p class="reciept_short_desc ng-binding">Lorem ipsum tekst tekst tekst.</p>
                    </div>
            </div>
        </div>
    </div>
    </div>  
    </div>
</div>

