<div ng-init="init()" class="row clearfix">
    <div id="container" class="col-md-3 column nav-sidebar">
        Szukarka 
    </div>
    <div class="col-md-9 column">
        <div id="container" class="receipt_items_list">
            <div class="row">
<!--
                <div ng-repeat="reciept in reciepts" class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail reciept_list_element" ng-click="showReciept(reciept.id)">
                        <img src="{{reciept.img_url}}" alt=""/>
                        <div class="caption">
                            <h4>{{reciept.title}}</h4>
                            <p class="reciept_short_desc">{{reciept.description}}</p>
                        </div>
                    </div>
                </div>
-->
            </div>
        </div>
    </div>
</div>

