<div class="row-fluid">
    <div class="nav-sidebar col-lg-5 col-md-5 column">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <label class="padding-top" for="search_field">Wpisz nazwę lub wybierz składniki:</label>
            <span class="col-lg-10 col-md-10 col-sm-10">
                <textarea class="form-control resize_vertical" id="search_field" rows="4"></textarea>
            </span>
            <span class="col-lg-2 col-md-2 col-sm-2">
                <button ng-click="search()" type="button" class="btn btn-default btn-search">
                <span class="glyphicon glyphicon-search icon-left"></span>Szukaj</button>
            </span>
        </div>
        <span class="search_list_ingredient">
            <p>
                <button ng-click="appendSearchIngredient(ingredient)" 
                        ng-repeat="ingredient in ingredients" 
                        class="btn btn-ingredient">{{ingredient.Name}}
                </button>
            </p>
        </span>
    </div>
    <div class="col-lg-7 col-md-7 clearfix column">
        <div id="container" class="receipt_items_list content_area fill">
            <span ng-hide="searchResults.length > 0" ng-show="searchResults.length < 1">
                <p class="info">Brak wyników wyszukiwania.</p>
            </span>            
            <span ng-repeat="recipe in searchResults" class="col-sm-12 col-md-6 col-lg-4">
                <div class="thumbnail reciept_list_element" ng-click="showRecipe(recipe.Id)">
                    <img ng-show="recipe.ImageUrl" src="{{recipe.ImageUrl}}"/>
                    <div class="caption">
                        <h4>{{recipe.Title}}</h4>
                        <p class="reciept_short_desc">{{recipe.Description}}</p>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>

